In [104]:
from pathlib import Path

import pandas as pd
import numpy as np

In [105]:
base = Path('tracker_eval')

In [106]:
names = ['PeopleNet', 'YOLO', 'SSD']
paths = ['peoplenet', 'yolo', 'ssd_inceptionv2']

In [107]:
results = {}
for n, p in zip(names, paths):
    csv = base / f'test_{p}' / 'summary.csv'
    # performance is evaluated separately to exclude metrics calculation time
    csv_fps = base / f'test_{p}_fps' / 'summary.csv'
    df = pd.read_csv(csv)
    df_fps = pd.read_csv(csv_fps)

    df['FPS'] = df_fps['FPS']
    tmp = df.drop(labels=2)['FPS']
    avg = np.average(tmp, weights=df.drop(labels=2).num_frames)
    df.loc[2, 'FPS'] = avg

    df['Switch Ratio'] = df['num_switches'] / df['num_objects']

    results[n] = df

In [108]:
pd.concat(results)

               input  num_frames      mota      motp  num_switches  \
PeopleNet 0  04-09-1  545.000000  0.837134  0.841188      7.000000
          1  04-09-3  746.000000  0.845960  0.823072     21.000000
          2  avg (*)  661.147173  0.842234  0.830720     15.089853
YOLO      0  04-09-1  545.000000  0.912052  0.924237      9.000000
          1  04-09-3  746.000000  0.906566  0.931936     20.000000
          2  avg (*)  661.147173  0.908882  0.928686     15.356313
SSD       0  04-09-1  545.000000  0.653637  0.780165     28.000000
          1  04-09-3  746.000000  0.441077  0.688373     55.000000
          2  avg (*)  661.147173  0.530810  0.727123     43.601859

             num_false_positives  num_misses  num_objects  num_unique_objects  \
PeopleNet 0            16.000000  127.000000   921.000000            9.000000
          1             4.000000  341.000000  2376.000000           16.000000
          2             9.065840  250.659179  1761.766847           13.044926
YOLO      0            17.000000   55.000000   921.000000            9.000000
          1            79.000000  123.000000  2376.000000           16.000000
          2            52.826491   94.293571  1761.766847           13.044926
SSD       0            82.000000  209.000000   921.000000            9.000000
          1           753.000000  520.000000  2376.000000           16.000000
          2           469.735089  388.710302  1761.766847           13.044926

                   FPS  Switch Ratio
PeopleNet 0   9.358000      0.007600
          1   9.472000      0.008838
          2   9.423875      0.008565
YOLO      0  13.184000      0.009772
          1  12.828000      0.008418
          2  12.978287      0.008716
SSD       0  13.068000      0.030402
          1  12.678000      0.023148
          2  12.842640      0.024749

In [94]:
for n, df in results.items():
    print('='*10, n, '='*10)
    display(df)
    print()

========== PeopleNet ==========

,input,num_frames,mota,motp,num_switches,num_false_positives,num_misses,num_objects,num_unique_objects,FPS,Switch Ratio,model
0,04-09-1,545.000000,0.837134,0.841188,7.000000,16.00000,127.000000,921.000000,9.000000,9.358000,0.007600,PeopleNet
1,04-09-3,746.000000,0.845960,0.823072,21.000000,4.00000,341.000000,2376.000000,16.000000,9.472000,0.008838,PeopleNet
2,avg (*),661.147173,0.842234,0.830720,15.089853,9.06584,250.659179,1761.766847,13.044926,9.423875,0.008565,PeopleNet

========== YOLO ==========

,input,num_frames,mota,motp,num_switches,num_false_positives,num_misses,num_objects,num_unique_objects,FPS,Switch Ratio,model
0,04-09-1,545.000000,0.912052,0.924237,9.000000,17.000000,55.000000,921.000000,9.000000,13.184000,0.009772,YOLO
1,04-09-3,746.000000,0.906566,0.931936,20.000000,79.000000,123.000000,2376.000000,16.000000,12.828000,0.008418,YOLO
2,avg (*),661.147173,0.908882,0.928686,15.356313,52.826491,94.293571,1761.766847,13.044926,12.978287,0.008716,YOLO

========== SSD ==========

,input,num_frames,mota,motp,num_switches,num_false_positives,num_misses,num_objects,num_unique_objects,FPS,Switch Ratio,model
0,04-09-1,545.000000,0.653637,0.780165,28.000000,82.000000,209.000000,921.000000,9.000000,13.06800,0.030402,SSD
1,04-09-3,746.000000,0.441077,0.688373,55.000000,753.000000,520.000000,2376.000000,16.000000,12.67800,0.023148,SSD
2,avg (*),661.147173,0.530810,0.727123,43.601859,469.735089,388.710302,1761.766847,13.044926,12.84264,0.024749,SSD

In [89]:
summary = []
cols = ['mota', 'motp', 'Switch Ratio', 'FPS']
for n, df in results.items():
    summary.append(
        [n, *df.loc[2, cols]]
    ) 

df_summary = pd.DataFrame(summary, columns=['model', *cols])

In [90]:
df_summary

       model      mota      motp  Switch Ratio        FPS
0  PeopleNet  0.842234  0.830720      0.008565   9.423875
1       YOLO  0.908882  0.928686      0.008716  12.978287
2        SSD  0.530810  0.727123      0.024749  12.842640